/* 設定導覽列 */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: black;
    flex: 1;
    text-align: left;
    margin-left: 20px;
    position: relative;
    top: 5px;
}

.nav-list {
    list-style: none;
    display: flex;
    position: relative;
    top: 10px;
    flex-wrap: wrap; 
    justify-content: center;
}

.nav-list li {
    margin: 0 15px;
    white-space: nowrap;
}



.nav-list a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-left: 10px;
}

.menu-toggle .bar {
    background-color: black;
    height: 3px;
    width: 25px;
    margin: 4px 0;
}

body {
    background-image: url('/Login/image/LoginPicture.png'); 
    background-size: cover;       
    background-position: center;  
    background-repeat: no-repeat; 
    min-height: 100vh; 
  }


  /* 白色登入表單區塊 */
  .login-box {
    position: absolute;
    top: 55%;
    left: 15%; 
    transform: translateY(-60%);
    width: 400px;
    padding: 50px 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  

/* Email 與 Password 輸入欄 */
  .input-box {
    width: 300px; 
    margin: 0 auto 30px; 
    display: flex;
    align-items: center;
    background-color: #ddd;
    border-radius: 25px;
    padding: 10px 20px;
  }
  
/* 信封圖示和鎖頭圖示 */
  .input-box i {
    font-size: 20px;
    margin-right: 10px;
  }  
  

  /* 輸入 Email 和 Password 的文字欄位 */
  .input-box input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
    font-size: 15px;
    padding: 12px 10px;
  }

  
  /* 註冊和登入 按鈕區 */
  .btn-group {
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 300px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  
  

  /* 按鈕的外觀 */
  .btn {
    min-width: 120px;   /* 保底寬度 */
    width: 45%;
    padding: 12px 20px;
    border: none;
    border-radius: 999px !important;
    font-size: 16px;
    cursor: pointer;
  }


  
  
  /* 註冊按鈕顏色 */
  .btn.register {
    background-color: #ae6c45;
    color: white;
  }
  /* 登入按鈕顏色 */
  .btn.login {
    background-color: #ae6c45;
    color: white;
  }

  .btn.register:hover {
    background-color: #935b39;
  }
  .btn.login:hover {
  background-color: #935b39;
  }


  /* ==========【RWD】========== */
  @media (max-width: 768px) {
    .login-box {
       width: 80%;
       left: 50%;
       transform: translate(-50%, -50%);
    }
    .input-box {
       width: 100%;
    }
    .btn-group {
       width: 100%;
    }
    .btn {
      width: 45%;  /* ✅ 響應式下讓兩顆按鈕平均 */
   }
 }
 